<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/1829067/pexels-photo-1829067.jpeg?auto=compress&cs=tinysrgb&w=600" alt="post" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views</small>
        <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGOTY</h5>    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis deserunt sequi explicabo officia reiciendis earum minus, similique fugit praesentium minima quos, sit suscipit vitae rem officiis laboriosam! Reprehenderit, quis nemo!</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2021</small>
    </div>
</div>